body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/* top-banner start*/
.top-banner {
    background-color: black;
    color: white;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 18px;
    margin: 80px 200px;
}

.written-part {
    margin: 40px;
}

/* animation start */

@keyframes sliding {
    0% {
        left: 195px;
        top: 200px;
    }

    50% {
        top: 75px;
    }

    100% {
        left: 1000px;
        top: 200px;
    }
}

.top-banner:hover .ball {
    display: block;
    position: absolute;
    width: 80px;
    margin: 0%;
    animation: sliding 3s ease-in-out 0.1s infinite alternate;
}

.ball-size {
    width: 5px;
    height: 5px;
}

.ball-size img {
    width: 70px;
    height: 70px;
    display: none;
}

.marcelo img {
    margin: 40px 20px 10px 20px;
}

.written-part h1 {
    font-size: 60px;
}

.link-show {
    text-decoration: none;
    background-image: linear-gradient(rgb(179, 43, 43), rgb(213, 18, 0));
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;


}

/* top-banner end */

/* main start */
.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 200px;


}

.article-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.blogs {
    margin: 10px;
    box-shadow: 0px 0px 0px 0px rgba(174, 168, 168, 0.2);
    border-radius: 15px;
    border: 0.1px solid rgba(232, 226, 226, 0.9);
}

.blog {
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.blog img {
    width: 100%;
}

.placing {
    padding: 10px 15px;
}

.placing h3,
p {
    text-align: center;
}

.side-view {
    display: flex;
    justify-content: space-evenly;
}

.side-view img {
    width: 120px;
    height: 60px;
}

.side-view span {
    font-size: 24px;
    font-weight: 500;
    padding-top: 15px;
}



.read-button {
    text-decoration: none;
    padding: 1px 10px;
    border-radius: 5px;
    border: 1px solid;
    color: black;
    font-weight: 700px;

}

.article-icon span {
    padding-left: 60px;
    font-size: 20px;

}

.icon {
    height: 20px;
    width: 20px;
}

/* short-chart start */


.short-chart {
    display: grid;
    justify-content: space-evenly;
    width: 240px;
    height: 260px;
    background-color: black;
    border-radius: 10px;
    align-items: center;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.short-chart a {
    text-decoration: none;
    color: black;
    padding: 5px 5px;
    font-size: 20px;
    font-weight: 600;

}

.button-enlarge {
    padding: 10px;
    margin: 0px 0px;
    border-radius: 5px;
}

.click-page {
    text-decoration: none;
    background-image: linear-gradient(rgb(179, 43, 43), rgb(213, 18, 0));
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;

}

.btn {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    background-color: #f64f4f;
    margin-left: 25px;
    padding: 20px;
    border-radius: 15px;
    margin-left: 42%;
    display: none;
}

/* footer  */
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 30px;

    margin-top: 60px;
}

footer h2 {
    font-size: 35px;
}

footer hr {
    margin: 40px 100px 40px 100px;
    color: rgb(157, 157, 157);
}

footer a {
    text-decoration: none;
    color: rgb(157, 157, 157);
    padding: 20px;
}

.awesome-icon {
    font-size: 50px;
    padding: 100px 100px;
    margin-left: 50px;
}

.awesome-icon a {
    padding: 30px 100px 30px 30px;

}

/* media Queries */

@media only screen and (max-width:670px) {
    .top-banner {
        display: block;
        flex-direction: column;
        width: 95%;
        margin: auto;
    }

    .top-banner:hover .ball {
        display: none;
    }

    .container {
        display: block;
        flex-direction: column;
        width: 100%;
        margin: 10px;
    }

    .short-chart {
        margin: auto;
    }

    .article-part {
        grid-template-columns: repeat(1, 1fr);
        width: 75%;
        margin: auto;
    }

    .linking {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
}

@media only screen and (min-width:671px) and (max-width:992px) {
    .top-banner {
        width: 95%;
        margin: 30px;
    }

    .top-banner:hover .ball {
        display: none;
    }

    .container {
        display: block;
        flex-direction: column;
        width: 100%;
        margin: 10px;
    }

    .short-chart {
        margin: auto;
        width: 100%;
        height: auto;
        background-color: #fff;
        display: flex;
        justify-content: space-evenly;
    }

    .article-part {
        grid-template-columns: repeat(2, 1fr);
        width: 75%;
        margin: auto;
    }

    .btn {
        display: block;
        margin-top: 25px;
    }


    footer hr {
        margin-bottom: 40px;
        color: #585353;
    }
}